body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: lightblue;
  }
  
  /* CSS for the Top of page */
  .header {
    text-align: center;
    image-rendering: auto;
    color: maroon;
  }
  
  #smsbubbles {
    width: 300px;
    height: 150px;
    position: relative;
    right: 150px;
    bottom: 50px;
  }
  
  #smstexts {
    width: 300px;
    height: 200px;
    position: relative;
    left: 100px;
  }
  
  
  /* Creates the InputOutput flexbox */
  .InputOutput {
    display: flex;
  }
  
  /* Creates the input item inside of the InputOutput flexbox */
  .input {
    flex: 1;
    color: maroon;
  }
  
  .output {
    flex: 1;
    text-align: center;
    color: maroon;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid maroon;
  }
  
  th {
    border: 1px solid maroon;
  }
  
  td {
    border: 1px solid maroon;
  }