<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/index.css">
  <title>SMS Scheduler</title>
</head>

<body>
  <!-- Displays title of webpage and 2 images -->
  <div class="header">
    <h1>SMS Scheduler</h1>
    <img id="smsbubbles" src="/static/images/greentextbubblenbg.png" alt="SMS Text Bubbles">
    <img id="smstexts" src="/static/images/Smsbubbles.png" alt="SMS Text Messaging">
  </div>

  <!-- Class that contains code for input/output of the website -->
  <div class="InputOutput">

    <!-- Sets up and responds to user input. Fires when user clicks submit button -->
    <div class="input">
      <h2>Welcome to the SMS Scheduler</h2>
      <h3>Please fill out the fields below and click the submit button to create your reminder
        and have it texted to you.
      </h3>
      <!-- Form created out user's inputs form 4 fields of website -->
      <form id="inputForm" action="/submit" method="post" onsubmit="return validateForm()">
        
        <!-- Telephone Number Input -->
        <label for="phoneNumber">Enter your phone number:</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{10}" placeholder="1234567890" required>
        <br><br>

        <small>Please enter your phone number like the following: '4235679187'</small> 
        <br><br>

        <!-- Text Mesage Input -->
        <label for="message">Enter your text message:</label>
        <input type="text" id="message" name="message" placeholder="Text message text here." required>
        <br><br>

        <!-- Date to send input -->
        <label for="datetimeInput">Enter the date when you would like your reminders to send.</label>
        <input type="datetime-local" id="datetimeInput" name="datetimeInput" required>
        <br><br>

        <!-- Repeat interval input -->
        <label for="interval">Enter how often you would like your reminder to repeat.</label>
        <select name="interval" id="interval">
          <option value="No Repeats">No Repeats</option>
          <option value="Every 10 Minutes">Every 10 Minutes</option>
          <option value="Every Hour">Every Hour</option>
          <option value="Every 12 Hours"> Every 12 Hours</option>
          <option value="Daily (24 Hours)">Daily (24 hours)</option>
          <option value="Every 2 days (48 hours)">Every 2 Days (48 hours)</option>
          <option value="Weekly (7 Days)">Weekly (7 Days)</option>
        </select>
        <br><br>

        <button type="submit" value="submit" id="submitButton">Submit</button>
      </form>
    </div>

    <div class="output">
      <div id="countdowns">

      </div>

      <div id="table">
        <table>

        </table>
      </div>
    </div>
  </div>

  <!-- Displays table and resets input fields -->
  <script src="/static/js/index.js" defer></script>

</body>

</html>