<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/index.css">
        <script src="/static/js/index.js" defer></script>
        <title>SMS Scheduler</title>
    </head>

    <body>
         
      <h1>SMS Scheduler</h1>
      <!-- This is the code setting up all of the user input. It fires when user clicks submit button -->
      
      <div id="phoneForm">

          <form action="http://localhost:5000/submit" method="POST">
              <!-- Telephone Number Input -->
              <label for="phoneNumber">Enter your phone number:</label>
              <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{10}" placeholder="1234567890"
              required>
              <br><br>

              <small>Format: 1234567890</small> <br><br>

              <!-- Text Mesage Input -->
              <label for="message">Enter your text message:</label>
              <input type="text" id="message" name="message" placeholder="Text message text here." 
              required>
              <br><br>

              <!-- Date to send input -->
              <label for="datetimeInput">Enter the date when you would like your reminders to send.</label>
              <input type="datetime-local" id="datetimeInput" name="datetimeInput" required>
              <br><br>

              <!-- Repeat interval input -->
              <label for="interval">Enter the how often you would like your reminder to repeat.</label>
              <select name="interval" id="interval">
                  <option value="No Repeats">No Repeats</option>
                  <option value="Every Minute">Every Minute</option>
                  <option value="Every Hour">Every Hour</option>
                  <option value="Every 12 Hours"> Every 12 Hours</option>
                  <option value="Daily (24 Hours)">Daily (24 hours)</option>
                  <option value="Every 2 days (48 hours)">Every 2 Days (48 hours)</option>
                  <option value="Weekly (7 Days)">Weekly (7 Days)</option>
              </select>
              <br><br>

              <button type="submit" value="submit">Submit</button> 
          </form>

          <!-- Script to run to retrieve information from user input -->
          <!-- <script src="./index.js"></script> -->
      </div>

      <div>
         <h1>Table Display</h1>
         <table border="1">
            <thead>
               <tr>
                  <th>Phone</th>
                  <th>Message</th>
                  <th>DateTime</th>
                  <th>Interval</th>
               </tr>
            </thead>
            <tbody>
               {% for row in data %}
               <tr>
                  <td>{{ row['phone'] }}</td>
                  <td>{{ row['message'] }}</td>
                  <td>{{ row['dateTime'] }}</td>
                  <td>{{ row['interval'] }}</td>
               </tr>
               {% endfor %}

            </tbody>
            
         </table>
      </div>

      <button type="button" value="alerts!" id="alertButton">Alert me!</button>

    </body>



</html>